.conteneur-1280 {
    max-width: 1280px;
    padding: 0 0.8rem;
    margin: 0 auto;
}


.titre-page {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1.375rem;
    font-size: 3rem;
    font-weight: bold;
    max-width: 800px;
    color: white;
}

.para {
    background-color: rgb(95, 17, 17);
    margin-top: 4rem;
    border-radius: 30px;padding: 3rem;
    text-align: center;
    font-size: 1rem;
    color: white;
}


.liste-membres {
    margin-top: 6rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10rem;
    column-gap: 2rem;
}



.noms {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: white;
}

.image {
    position: relative;
    width: 216px;
    height: 300px;
}

.img__img {
    display: block;
    width: 100%;
    
}




.image__overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e76a8;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: transform .2s;
}

.image__overlay:hover {
    opacity: 0.9;
    transform: scale(0.9);
    
}

.image__title {
    font-size: 22px;
    font-weight: bold;
}

